{% assign tags_ary = "" | split: "" %}
{% for tag in page.topic_links %}
    {% capture tag_content %}
      <a href='{{ tag.url | relative_url }}'>{{ tag.name }}</a>
    {% endcapture %}
    {% assign tags_ary = tags_ary | push: tag_content %}
{% endfor %}
{% capture tags_content %}
  {% if tags_ary.size > 1 %}
    <i class="fa fa-tags">{{ tags_ary | join: '<span>|</span>' }}</i>
  {% elsif tags_ary.size == 1 %}
    <i class="fa fa-tag">{{ tags_ary | join: '<span>|</span>' }}</i>
  {% endif %}
{% endcapture %}
