---
permalink: '/ShowPost.aspx/'
---

<script language='javascript'>
var posts_map = {};
{% for page in site.posts %}
  {% if page.dblog_post_id %}
    posts_map[{{ page.dblog_post_id }}] = '{{ page.url }}'
  {% endif %}
{% endfor %}

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var id = getParameterByName('id');
var url = posts_map[id];

if (url) {
  window.location.replace(url);
} else {
  window.location = '/'
}
</script>
