<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
    {% include _search.html %}
    {% include _suggest.html %}
    {% include _rss.html %}
    {% include _license.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    {% if page.description != "" %}<p>{{ page.description }}</p>{% endif %}
    <p>{{ page.count }} posts · <a href="{{ '/tags/' | relative_url }}">All topics</a></p>
    <div class="article-wrap">
      <div id="markdown-content">
      {% if page.topic_posts %}
        <ul>
          {% for post in page.topic_posts %}
            <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time> — <a href="{{ post.url | relative_url }}">{{ post.title }}</a><p>{{ post.excerpt | strip_html | truncate: 180 | escape }}</p></li>
          {% endfor %}
        </ul>
      {% else %}
          <p>There are no posts for this tag.</p>
      {% endif %}
      </div><!-- /#markdown-content -->

    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
